@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&family=Roboto+Mono:ital,wght@0,300;1,700&display=swap');

.LoginHeader{
    font-size: larger;
    color: white;
    position: absolute;
    margin-top: 100px;
    margin-left: 550px;
    font-weight: 700;
}
.loginDiv{
    flex-wrap: wrap;
    color: white;
    background-color: rgba(50, 50, 50, 0.5);
    box-shadow: 0px 4px 5px 0 rgba(0, 0, 0, 0.5);
    margin: 10% 30%;
    top: 10%;
    position: absolute;
    width: 400px;
    height: 200px;
    padding-top: 10px;
    border-radius: 5px;
}
#outlined-basic, #outlined-basicUname{
    color: white;
    border-bottom: 2px white solid;
}
#textFieldDivUser{
    display: none;
    margin-left: 0;
}
#outlined-basic label{
    color: white;
}
input[type=tel]:focus{
    border-bottom: 3px solid dodgerblue;
    transition: all 0.3s;
}
#varification{
    border: none;
    width: 250px;
    height: 40px;
    outline: none;
    border-radius: 2px;
    margin-left: 15%;
    margin-top: 40px;
    display: none;
}
.contryCode{
    margin-top: 50px;
    margin-left: 10px;
    border: 1.5px solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    height: 32px;
    width: 100px;
    position: absolute;
    outline: none;
    border-radius: 3px;
}
.contryCode option{
    color: black;
    background-color: white;
}

.lgnBtns {
    width: 150px;
    height: 30px;
    border: none;
    color:brown;
    font-weight: 600;
    outline: none;
    border-radius: 5px;
}
#nextBtn {
    margin-left: 30%;
    margin-top: 80px;
}
#loginbtn{
    margin-left: 30%;
    margin-top: 40px;
}
#loginbtn{
    display: none;
}
#finishBtn{
    margin-left: 30%;
    margin-top: 60px;
    display: none;
}
.lgnBtns:hover {
    background-color: brown;
    color: white;
    transition: all 0.3s;
    cursor: pointer;
}
#verifyWait{
    margin-top: 15px;
    margin-left: 110px;
    color: white;
    font-size: smaller; 
    display: none;
}
#loginSucces{
    position: absolute;
    margin-top: 32%;
    margin-left: 40%;
    z-index: 1;
    visibility: hidden;
}
.textFiled_lable{
    color: white !important;
    font-size: small !important;
}
#WrongVerification{
   position: absolute;
   margin-top: 450px;
   margin-left: 30%;
   z-index: 2;
   width: 400px;
   visibility: hidden;
   transition: all 0.3s;
}